<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Ant Design Of Angular</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome">Welcome</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <!-- 使用form，使用ui组件库 -->
            <a (click)="openTest()">使用form使用ui组件库</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <!-- 不使用form 使用ui组件库 -->
            <a (click)="openTest3()">不使用form使用ui组件库</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <!-- 不使用form 不使用ui组件库 -->
            <a (click)="openTest2()">不使用form不使用ui组件库</a>
          </li>
        </ul>
      </li>
      <!-- <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Basic Form</a>
          </li>
        </ul>
      </li> -->
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="menu-router">
        <ul nz-menu nzMode="horizontal">
          <li *ngFor="let link of routerLinks;index as i;" nz-menu-item nzMatchRouter>
            <a [routerLink]="[link.path]" [queryParams]="link.queryParams">
              {{link.title}}
            </a>
            <i (click)="closeTab(i)" nz-icon nzType="close-circle" nzTheme="fill"></i>
          </li>
          <!-- <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/welcome']">welcome</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/test']" [queryParams]="{debug: true}">单据录入</a>
          </li> -->
        </ul>
      </div>
      <div class="inner-content">
        <router-outlet #myTemplateVar="outlet" (activate)='onActivate($event,myTemplateVar)'></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
